<section>

	<section id="errors">
  		<%if @error then %>
  			<div class="alert alert-error"><%=@error%></div>
  		<% else %>
  			<p class="alert alert-success">File is: <strong><%= @lol %></strong></p>
  		<% end %>
    </section>
	
</section>
<section class="row-fluid">
	        <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
              <li><a href="#bubble" data-toggle="tab">Bubble</a></li>
              <li><a href="#selection" data-toggle="tab">Selection</a></li>
            </ul>
</section>

<!-- Tabs contents-->
<div class="bs-docs-example">

            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade in active" id="home">
                <p>Lool</p>
              </div>
              <div class="tab-pane fade" id="bubble">
                <p>Lol</p>
              </div>
              <div class="tab-pane fade" id="selection">
                <p>LOl</p>
              </div>
            </div>
</div>