<section class="row-fluid">
	<table class="table table-bordered table-striped">
		<thead>
		    <tr>
		      <th>#</th>
		      <th>Content</th>
		    </tr>
		</thead>
		<tbody>
			<% @contents.each do |line| %>
				<tr>
					<td></td>
					<td><%= line %></td>
				</tr>
			<% end %>
		</tbody>
	</table>


</section>