<section class="row-fluid">
	<table class="table table-striped">
	<caption>File Contents</caption>
	<thead>
		<tr>
			<td>#</td>
			<td>Content</td>
		</tr>
	</thead>
	<tbody>
		<% @contents.each_with_index do |line, i| %>
			<tr>
				<td class="span2"><%= i %></td>
				<td><%= line %></td>
			</tr>
		<% end %>
	</tbody>
</table>
</section>
