<section class="">
	<legend>Upload de arquivo</legend>
	
	<form class="form-horizontal" method="post" action="/upload" enctype="multipart/form-data">
		
		<label class="control-label" for="file">Escolha o arquivo:</label>
		 <div class="controls">
			<input id="file" type="file" name="myfile">		 	
	    </div>

	    <div class="form-actions">
		  <button type="submit" class="btn btn-primary">Enviar</button>
		  <button type="button" class="btn">Cancelar</button>
		</div>

	</form>
</section>